{% extends 'blog/base.html' %}


{% block content %}
{% if form.errors %}
 <p>Tu nombre de usuario y/o contraseña no son correctos.
    Por favor vuelva ingresarlos.
 </p>

{% endif %}


<form action="{% url 'login' %}" method="post">
{% csrf_token %}

<table>
   <tr>
       <td>
           {{ form.username.label_tag }}
          

       </td>
       <td>
           
          {{ form.username }}

       </td>

   </tr>
   <tr>
    <td>
        {{ form.password.label_tag}}
    </td>

    <td>
        {{ form.password}}
    </td>

   </tr>


</table>

   <input type="submit" value="login"/>
   <input type="hidden" name="next" value="{{ next }}"/>

</form>

{% endblock  %}