{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subs et=lati    n,latin-ext" rel="stylesheet" type="text/css">
  
  

</head>
<body>
        <div class="page-header">
          {% if user.is_authenticated %}
          <div>
          <a href="{% url 'post_new'  %}" class="top_menu"><span class="glyphicon glyphicon-plus"></span></a>
          
          
          <a href="{% url 'post_draft_list' %}" class="top_menu"><span class="glyphicon glyphicon-edit"></span></a>
          
          </div>
        
          <p id="pa" class="top-menu">Hola!!! {{ user.username }} (<a href="{% url 'logout' %}">Log out</a>)</p>
          {% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
          {% endif %}
            <a  href="/"><img class="mil" src="{% static 'img/milton.jpg' %}" alt="Mi imagen"></a>
           <span class="mil1">
             El blog

             de Milton


           </span>
        </div>

        <div class="content container">
          <div class="row">
            <div class="col-md-8">

               {% block content %}
               {% endblock %}
            </div>
          </div>
        </div>

</body>
</html>
